<h1 mat-dialog-title>Деталі дослідження</h1>

<div class="container" mat-dialog-content>
  <div class="row">
    <span class="title">
      Стать пацієнта:
    </span>
    <span class="text">
      {{data.patientInfo.sex | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Вік пацієнта:
    </span>
    <span class="text">
      {{data.patientInfo.age}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Розмір вузла:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.size | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Конгломерати:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.hasConglomerate.toString() | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Форма вузла:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.shape | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Контури вузла:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.contours | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Структура вузла:
    </span>
    <span class="text">
      <span *ngFor="let s of data.ultrasoundAnalysis.structure; let i = index">
        {{s | translate}}
        <ng-container *ngIf="i != data.ultrasoundAnalysis.structure.length - 1">
          ,
        </ng-container>
      </span>
    </span>
  </div>

  <div class="row">
    <span class="title">
      Ехогеннісь:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.echogenicity | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Васкуляризація:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.vascularization | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Еластограція:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.echogenicity | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Аутоімунний тиреоїдит:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.autoimmuneThyroiditis.toString() | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Підозрілі лімфатичні вузли:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.suspiciousLymphNodes.toString() | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Класифікація вузлів по Thirads:
    </span>
    <span class="text">
      {{data.ultrasoundAnalysis.thirads | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Класифікація вузлів після (ТАБ) по Bethesda:
    </span>
    <span class="text">
      {{data.biopsyAnalysis.bethesdaLevel | translate}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Додано:
    </span>
    <span class="text">
      {{data.created | date: 'dd MMMM yyyy, hh:mm:ss'}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Востаннє змінено:
    </span>
    <span class="text">
      {{data.updated | date: 'dd MMMM yyyy, hh:mm:ss'}}
    </span>
  </div>

  <div class="row">
    <span class="title">
      Додано користувачем:
    </span>
    <span class="text">
      {{data.createdBy.firstName}} {{data.createdBy.lastName}} ({{data.createdBy.email}})
    </span>
  </div>

  <div class="row">
    <span class="title">
      Востаннє змінено користувачем:
    </span>
    <span class="text">
      {{data.updatedBy.firstName}} {{data.updatedBy.lastName}} ({{data.updatedBy.email}})
    </span>
  </div>
</div>

<div mat-dialog-actions style="display:flex; justify-content: flex-end">
  <button (click)="closeClick()" color="primary" mat-raised-button>Закрити</button>
</div>
