.container {
  padding-left: 40px;
  padding-right: 40px;
}

.row {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  color: darkgray;
  margin-right: 40px;
}

.text {
  font-weight: 500;
}
