.container {
  padding-left: 40px;
  padding-right: 40px;
}

.full-width {
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin-right: 10px;
}

.row {
  margin-bottom: 20px;
}
