<div class="main-wrapper">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Вхід в систему ThyroidNoduleDMS</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="example-form">
      <mat-card-content>
        <mat-form-field appearance="standard" class="example-full-width">
          <input formControlName="email" matInput placeholder="Емейл" type="email">
          <mat-error>
            Некоректний формат емейлу
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" class="example-full-width">
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="Пароль">
          <mat-error>
            Пароль має містити мінімум 8 символів
          </mat-error>
          <button (click)="onHideClick()" [attr.aria-pressed]="hide" mat-icon-button matSuffix type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <button class="btn-block" color="primary" mat-stroked-button type="submit">Ввійти</button>

      <div class="not-registered">
        Ще не зареєстровані? <a routerLink="/auth/register">Зареєструйтеся тут</a>
      </div>
    </form>
  </mat-card>
</div>
