<div class="wrapper">
  <app-header></app-header>
  <div class="title">
    База медичних данних
  </div>

  <div class="wrapper" style="  margin-left: 60px; margin-right: 60px;">
    <mat-table [dataSource]="analyses">
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>Номер</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{i + 1 + (pageIndex * pageSize)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef>Стать</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.patientInfo.sex | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef>Вік</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.patientInfo.age}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef>Розмір вузла</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ultrasoundAnalysis.size | translate}} </mat-cell>
      </ng-container>

<!--      <ng-container matColumnDef="hasConglomerate">-->
<!--        <mat-header-cell *matHeaderCellDef>Конгломерати вузла</mat-header-cell>-->
<!--        <mat-cell-->
<!--          *matCellDef="let element"> {{element.ultrasoundAnalysis.hasConglomerate.toString() | translate}} </mat-cell>-->
<!--      </ng-container>-->

      <ng-container matColumnDef="shape">
        <mat-header-cell *matHeaderCellDef>Форма вузла</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ultrasoundAnalysis.shape | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contours">
        <mat-header-cell *matHeaderCellDef>Структура вузла</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ultrasoundAnalysis.contours | translate}} </mat-cell>
      </ng-container>

      <!--      <ng-container matColumnDef="structure">-->
      <!--        <mat-header-cell *matHeaderCellDef>Структура вузла</mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let element"> {{element.ultrasoundAnalysis.structure | translate}} </mat-cell>-->
      <!--      </ng-container>-->

      <ng-container matColumnDef="echogenicity">
        <mat-header-cell *matHeaderCellDef>Ехогеннісь</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ultrasoundAnalysis.echogenicity | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vascularization">
        <mat-header-cell *matHeaderCellDef>Васкуляризація</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ultrasoundAnalysis.vascularization | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="elastography">
        <mat-header-cell *matHeaderCellDef>Еластограція</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ultrasoundAnalysis.elastography | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="autoimmuneThyroiditis">
        <mat-header-cell *matHeaderCellDef>Аутоімунний тиреоїдит</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{element.ultrasoundAnalysis.autoimmuneThyroiditis.toString() | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="suspiciousLymphNodes">
        <mat-header-cell *matHeaderCellDef>Підозрілі лімфатичні вузли</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{element.ultrasoundAnalysis.suspiciousLymphNodes.toString() | translate}} </mat-cell>
      </ng-container>

<!--      <ng-container matColumnDef="thirads">-->
<!--        <mat-header-cell *matHeaderCellDef>Класифікація вузлів по Thirads</mat-header-cell>-->
<!--        <mat-cell *matCellDef="let element">{{element.ultrasoundAnalysis.thirads | translate}} </mat-cell>-->
<!--      </ng-container>-->

      <!--      <ng-container matColumnDef="bethesdaLevel">-->
      <!--        <mat-header-cell *matHeaderCellDef>Класифікація вузлів після (ТАБ) по Bethesda</mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let element">{{element.biopsyAnalysis.bethesdaLevel | translate}} </mat-cell>-->
      <!--      </ng-container>-->

      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef>Додано користувачем</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.createdBy.firstName}} {{element.createdBy.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef>Востаннє змінено користувачем</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.updatedBy.firstName}} {{element.updatedBy.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="editAnalysis(element)" color="primary" mat-icon-button *ngIf="editPermission(element)">
            <mat-icon [matTooltip]="'Редагувати'">edit_calendar</mat-icon>
          </button>

          <button (click)="editPhotos(element)" color="primary" mat-icon-button>
            <mat-icon [matTooltip]="'УЗД знімки'">image</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="mat-paginator-sticky">
    <div style="margin-left: 20px">
      <button (click)="addAnalysis()" color="primary" mat-raised-button>
        <mat-icon>add</mat-icon>
        Додати
      </button>
    </div>
    <div>
      <mat-paginator (page)="onPaginatorChange($event)" [length]="totalItems" [pageIndex]="pageIndex"
                     [pageSizeOptions]="[10, 20, 50, 100]"
                     [pageSize]="pageSize"
                     showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
