<app-header></app-header>
<div class="main-wrapper">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Перевірка кваліфікації</mat-card-title>
    </mat-card-header>

    <div class="example-form">
      <mat-card-content>

        <div *ngFor="let question of questions; index as i">
          <div class="question">
            {{question.text}}
          </div>

          <mat-form-field appearance="standard" class="example-full-width">
            <input [formControl]="getControl(i)" matInput placeholder="Відповідь">
            <mat-error>
              Поле обов'язкове
            </mat-error>
          </mat-form-field>
        </div>


      </mat-card-content>
      <button (click)="onSubmit()" [disabled]="qualificationResult" class="btn-block" color="primary"
              mat-stroked-button>Відправити
      </button>

      <div *ngIf="qualificationResult" class="result">
        <h3>Набрано {{qualificationResult.scoredPercentage}}% правильних відповідей!</h3>

        <div *ngIf="qualificationResult.passed" class="poli">
          Ви успішно пройшли перевірку кваліфікації. Натисніть <a routerLink="/analyses">тут</a> щоб продовжити
        </div>
        <div *ngIf="!qualificationResult.passed" class="poli">
          Вам не вдалося пройти перевірку квалікації. Ви можете повторити спробу <a routerLink="/auth/register">тут</a>
        </div>
      </div>
    </div>
  </mat-card>
</div>
