<h1 mat-dialog-title>Знімки УЗД</h1>
<div class="container" mat-dialog-content>
  <div *ngFor="let image of data.ultrasoundAnalysis.images; trackBy: trackById" class="image">
    <div style="margin-top: 40px; margin-bottom: 10px; display: flex; flex-direction: row; align-items: center">
      <p>{{image.filename}}</p>
      <button (click)="removeImage(image)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <img [src]="getImageUrl(image.filename)">
    </div>
  </div>

  <div mat-dialog-actions style="display:flex; justify-content: space-between">
    <div>
      <input #fileUpload (change)="onFileSelected($event)" [hidden]="true" type="file">

      <div class="file-upload">
        <button (click)="fileUpload.click()" class="upload-btn" color="primary"
                mat-mini-fab>
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>

    <div style="display:flex; justify-content: flex-end">
      <button (click)="onYesClick()" color="primary" mat-raised-button>Ок</button>
    </div>
  </div>
</div>
